.jumbotron {
  background-color: white;
  color: blue;
  border: solid 1px #343a40;
  border-radius: 10px;
  text-align: center;
}
  
body {
  background-image: url(http://images.adsttc.com/media/images/549a/48f9/e58e/ce87/4600/0184/large_jpg/04_SLUNDRE.jpg?1419397361)
}

.main {
  color: black;
  background-color: whitesmoke;
  border-radius: 10px;
  
}