@{
  Layout = "_Layout";
}

<h3>Hello, Claire.</h3>
<h3>You look fabulous!</h3>
<h3>@Html.ActionLink("See all stylists", "Index", "Stylists")</h3>
<h3>@Html.ActionLink("See all clients", "Index", "Clients")</h3>