@{
  Layout = "_Layout";
}
<div class="sidebar">
<h3>Hello, Claire.</h3>
<h4>You look fabulous!</h4>

  <h3>@Html.ActionLink("See all stylists", "Index", "Stylists")</h3>
  <h3>@Html.ActionLink("See all clients", "Index", "Clients")</h3>
</div>