@{
  Layout = "_Layout";
}

<h1>Hello, Claire.</h1>
<h1>You look fabulous!</h1>
<h1>Welcome to your clients page!</h1>
<h3>@Html.ActionLink("See all stylists", "Index", "Stylists")</h3>
<h3>@Html.ActionLink("See all clients", "Index", "Clients")</h3>